/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.inputClass{
background: url(images/images.png) no-repeat scroll 7px 7px;
padding-left:30px;
}

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}

.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}

.fade-show.fade-show-active {
  opacity:1;
}

.disabled {
  cursor: not-allowed;
}

.theroot {
  height: 100px;
  background-color: yellow;
}

.backbutton {
  margin: 5px;
}

.custom-icon {
  font-size: 25;
  color : ffffff;
}
.swiper-container, .swiper-slide {
	height: 10%;
}