<div class="main-container">
         <div class="contact-bg">
            <div class="container">
            <section class="congratulation-section">
               
               <h2>Congratulations</h2>
               <p>

                Your booking is pending approval. Once confirmed, and email would be sent to<strong> xyz@yopmail.com</strong></p>

               <p> Please carry a printout of the confirmation and upon arrival give the simplypark parking slip to the attendant.</p>

               <p> Get in touch with us quoting your transaction id at <strong>customercare@simplypark.in</strong>
                </p>
                
               
                <div class="congratulation-address clearfix">
               <div class="col-sm-4">
                     

                <span class="parking-place">DLF Club V at Gurgoan</span><br>

               <span class="parking-dates"> 1st April - 2nd April, 2015</span><br>
               <span class="parking-dates"> Transaction ID: xxxxxxxxxwvv</span><br>

                <span class="parking-price"><i class="fa fa-inr"></i>150</span>

              </div>
               <div class="col-sm-4">
                 
                 <address class="parking-address">
                 <p class="address-congo">Address:-</p>
               <p> 2620 Stoneybrook Road,</p>

              <p>  Palm Bay, FL 32905</p>

              <p>  +44 - 7700 900075 </p>
                   

                </address>
               </div>
               <div class="col-sm-4 text-right">
               <button class="btn btn-info btn-lg account-info-btn" type="submit">Next</button>
                 
               </div>
               </div>
               </section>
            </div>
         </div>
      </div>
