<section id="privacy-policy" class="white-bg">

	<div class="container padding-top-bottom">
		<div class="col-xs-12">
		
			<h1><?php echo $getCms['CmsPage']['page_name']; ?></h1>
			<?php echo $getCms['CmsPage']['meta_description']; ?>
		</div>
	</div>
	
</section>