body {
	font-size: 14px;
}

p {
	font-size: 16px;
}

.header {
	padding: 10px;
}

.header p,
.header h3 {
	margin-bottom: 0;
}

.header .logo {
	margin-top: 10px;
}

.cloud-bg {
	background: url("../img/frontend/simplypark_contact_background.jpg") no-repeat scroll center top;
}

.cloud-bg > h3 {
	margin-top: 50px;
}

.well-opacity {
	background-color: rgba(255, 255, 255, .5);
}

.well-opacity h4 {
	margin-bottom: 5px;
	font-weight: 700;
}

.left-border {
	border-left: 1px solid #ccc;
}

.booking-detail {
	margin-left: 25px;
}

.booking-detail > tbody > tr > td:first-child {
	text-align: left;
	font-weight: 800;
	margin-bottom: 8px;
	width: 220px;
	padding: 4px;
}