.alert {
	position: relative;
	margin-bottom: 0;
	margin-top: 89px;
}

.alert + .main-container,
.alert + .jumbotron {
	padding-top: 0 !important;
}

.alert.coupon-code {
	position: fixed;
}

.modal .alert {
	margin-top: 0;
	margin-bottom: 20px;
}