/*--------------------
-----Main Styles------
----------------------*/
body{
    font-family: Lato, Arial, sans-serif;
    font-size:14px;
    color:#7a7c7f;
    /*font-weight:300;*/
    overflow-x:hidden;
    overflow-y:scroll;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Lato, Arial, sans-serif;
    font-weight:400;
    letter-spacing:0.02em;
    margin:0 0 20px;
}

p {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    margin-bottom:20px;
}

.lead {
    font-size:20px;
    line-height:28px;
    font-weight:100;
    letter-spacing:0.02em;
    margin-top:40px;
    margin-bottom:40px;
}

a,
a:hover,
a:focus {
    outline:none !important;
    text-decoration:none;
}

a {
  color:#5cc9df;
  text-decoration: none;
}

a:hover,
a:focus {
  color:#5cc9df;
  text-decoration: underline;
}

a:focus,
.btn:focus {
  outline: none;
}

form label > span {
    color: #ff0000;
}

.col-table {
    display: table;
}

.col-cell {
    display: table-cell;
}

.color-bg a{
    color:#fff;
    text-decoration: underline;
}

.color-bg a:hover,
.color-bg a:focus {
  color:#fff;
  text-decoration: none;
}

.primary {
    color:#5cc9df;
}

.col-center {
    margin: auto;
    float: none;
}

.text-default {
    color: #000;
    font-size: 40px;
    margin-bottom: 20px;
}

.border-bottom {
    border-bottom: 2px solid #d7d7d7;
}

.border-top {
    border-top: 2px solid #d7d7d7;
}

.margin-zero {
    margin-bottom: 0;
}

.rm-border {
    border: none !important;
}

.col-left-zero {
    margin-left: -26px;
}

/* modules style */
/*-------------------------------------
---custom form horizontal setting---
---------------------------------------*/
.horizontal-form .form-group {
    margin-left: 0;
    margin-right: 0;
}


/*-------------------------------
---divider or custom style---
---------------------------------*/
.divider-box {
    position: relative;
    padding-top: 1px;
    padding-bottom: 10px;
}

.divider-or {
    position: absolute;
    padding: 4px 9px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 45%;
}

/*-------------------------------
------- Create label pills ------
---------------------------------*/
.pill {
    padding: 2px 5px 1px;
    display: inline;
}

.pill-success {
    background: #e6f0c9;
    border-color: #c5dc93;
    color: #629e42 !important;
}

.pill-danger {
    color: #a94442 !important;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.pill-info {
    color: #FFFFFF !important;
    background-color: #ffa500;
    border-color: #ebccd1;
}

/*-------------------------------------------------
---jquery error validation message setting---
---------------------------------------------------*/
.has-error .error {
    color: rgb(169,68,66);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.has-success .error {
    display: none !important;
}

.has-error input {
    border: 0.2rem solid rgb(169,68,66);
}

.custom-enabled-date-style {
         font-weight: bold;
         color: green !important;
} 

.custom-disabled-date-style {
         color: red !important;
} 


#start-date[readonly] {
       background-color: white;
}

/*
input[readonly] {
   background-color: white !important;
}
*/
/*----------------------
---Custom modal padding---
------------------------*/
.modal-padding-lg {
    padding: 40px;
}

.modal-padding-lg form {
    padding-bottom: 20px;
}

.del-modal .btn-center {
    text-align: center;
}

.del-modal .modal-padding-lg {
    padding-bottom: 0;
}

/*----------------------
---Custom fa fa icons---
------------------------*/
.fa-search-new:before {
    content: "";
    /*display: inline-block;*/
    padding: 29px;
    background: url("../../img/frontend/search.png") no-repeat center center;
}

.fa-space:before {
    content: "";
    /*display: inline-block;*/
    padding: 29px;
    background: url("../../img/frontend/space.png") no-repeat center center;
}

.fa-car-new:before {
    content: "";
    /*display: inline-block;*/
    padding: 26px 55px;
    background: url("../../img/frontend/car.png") no-repeat center center;
}

.fa-parking:before {
    content: "";
    padding: 26px 55px;
    background: url("../../img/frontend/u71.png") no-repeat center center;
}

.fa-profile:before {
    content: "";
    padding: 26px 55px;
    background: url("../../img/frontend/u87.png") no-repeat center center;
}

/*----------------------
---Main Layout Styles---
------------------------*/
.img-center{
    margin:0 auto;
}

.img-block > img,
.img-block a > img {
    min-width: 100%;
}

.padding-top-bottom {
    padding:50px 0 30px;
}

.padding-top {
    padding:100px 0 0;
}

.navbar {
    margin:0;
    border-radius:0;
}

.section-title{
    position:relative;
    margin-bottom:40px;
    font-size:42px;
    line-height:64px;
    font-weight:700;
    letter-spacing:0.03em;
    text-align:center;
    /*text-transform:uppercase;*/
}

.section-title:after{
    display:block;
    content:"";
    width:100px;
    height:4px;
    position:absolute;
    left:50%;
    bottom:-15px;
    margin-left:-50px;
    background:#5cc9df;
    border-radius:3px;
    box-shadow:0 2px 0 rgba(0,0,0,0.08);
}

.section-description {
    text-align:center;
    font-size:20px;
    font-weight:400;
    margin-bottom:60px;
}


/*---------------------------------
-------- Custom input styles ------
-----------------------------------*/
.form-control {
    border-radius: 0;
}

/*------------------
----- Buttons ------
--------------------*/
.btn {
    border-radius: 0; 
}

.btn-default {
    background-color: #f3f3f3;
    color: #666666;
}

.btn-custom {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin:20px 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    outline: none;
    position: relative;
    background: #5cc9df;
    color: #fff;
    box-shadow: 0 4px rgba(0,0,0,0.07);
    border-radius: 5px;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
    box-shadow: 0 3px rgba(0,0,0,0.07);
    top: 1px;
    text-decoration: none;
}

.btn-custom:active {
    color: #fff;
    box-shadow: 0 2px rgba(0,0,0,0.07);
    top: 2px;
    text-decoration: none;
}

.btn-custom.white {
    background: transparent;
    border:2px solid #fff;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.btn-custom.white:hover,
.btn-custom.white:focus,
.btn-custom.white:active {
    background: #fff;
    color:#5CC9DF;
    top:0;
    box-shadow:0 3px rgba(0,0,0,0.1);
    text-decoration: none;
}

.btn-custom [class*=fa]{
    margin-right:10px;
}

.btn-gray {
    background-color: #919bac;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-gray:hover {
    background-color: #858e9b;
}

.btn-gray,
.btn-gray:hover {
    color: #fff;  
}

.btn-orange,
.btn-orange:hover,
.btn-orange:focus {
    background-color: #dc481a;
    color: #fff;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:focus {
    background-color: #3b5998;
    color: #fff;
}


/*----------------
----- Colors -----
------------------*/

.white-bg{
    background:#fff;
}

.gray-bg{
    background:#f3f3f3;
}

.color-bg{
    background:#414346;
}

.dark-bg{
    background:#4E5961;
}

.light-typo {
    color:#fff;
}

.color-bg.light-typo .section-title:after{
    background:#fff;
}


/*----------------------
----Form divide group---
------------------------*/
.form-divide-group article {
    border-bottom: 1px solid #D1E4E4;
    margin-bottom: 15px;
}


/*----------------------
----Navigation Styles---
------------------------*/
#main-nav .navbar-toggle{
    border:1px solid #4E5961;
    border-radius:0;
}

#main-nav .icon-bar {
    background:#4E5961;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    position:relative;
    padding:0 10px;
    font-size:28px;
    line-height:54px;
    font-weight:600;
    color:#777;
    font-variant:small-caps;
    letter-spacing:0.02em;
    -webkit-transition:font-size .2s ease-out;
    transition:font-size .2s ease-out;
    overflow:hidden;
}

#main-nav{
    background:#fff;
    color:#4E5961;
    box-shadow:0 0 3px rgba(0,0,0,0.3);
    z-index:1040;
    border-bottom: 1px solid #cfcfcf;
}

#main-nav.scrolled .navbar-toggle{
    color:#5AA9CE;
    border-color:#5AA9CE;
}

#main-nav.scrolled .navbar-toggle .icon-bar{
    background:#5AA9CE;
}

#main-nav .container{
    padding:15px 20px;
    -webkit-transition:padding 0.3s ease-out;
    transition:padding 0.3s ease-out;
}

#main-nav .nav a{
    position:relative;
    z-index:1;
}


#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
    padding:0px 5px;
    font-size:15px;
    line-height:54px;
    font-weight:700;
    letter-spacing:0.01em;
    text-transform:uppercase;
    background:transparent;
    color:#4E5961;
    opacity:0.9;
    -webkit-transition:opacity 0.2s ease-out;
    transition:opacity 0.2s ease-out; 
}

#main-nav .nav .active a,
#main-nav .nav a:hover{
    opacity:1;
}

#main-nav .nav a:before {
    display:block;
    position:absolute;
    bottom:0;
    left:10%;
    content:"";
    width:80%;
    height:3px;
    background:#5cc9df;
    z-index:-1;
    opacity:0;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

#main-nav .nav a:hover:before,
#main-nav .nav .active a:before {
    bottom:7px;
    opacity:1;
}

.no-csstransforms #main-nav .nav a:before {
    display:none;
}

.no-csstransforms #main-nav .nav a:hover,
.no-csstransforms #main-nav .nav .active a {
    color:#5AA9CE;
}

#main-nav li{
    background:transparent;
    margin:0 5px;
    border:2px solid transparent;
}

#main-nav li.login,
#main-nav li.login > a,
#main-nav li.login > a:hover {
    margin-right: 0;
    padding-right: 0;
}

#main-nav li.li-divider,
#main-nav li.li-divider:hover,
#main-nav li.li-divider > a,
#main-nav li.li-divider > a:hover {
    margin: 0;
    padding: 0;
}

#main-nav li:nth-child(4),
#main-nav li:nth-child(4) > a,
#main-nav li:nth-child(4) > a:hover {
    margin-left: 0;
    padding-left: 0;
}

#helpId .dropdown-menu  a,
#helpId .dropdown-menu  a:hover{
    font-size: 13px !important;
    text-align: left;
    
}

#main-nav .dropdown-menu a{
    font-size: 14px;
}



.site-logo {
    max-height:50px;
}

.logo-small{
    display:inline-block;
    vertical-align:top;
    margin-right:5px;
    opacity:1;
    -webkit-transition:all .2s ease-in;
    transition:all .2s ease-in;
}

.to-top {
    display:inline-block;
    position:absolute;
    top:50%;
    margin-top:-14px;
    left:10px;
    width:30px;
    height:30px;
    font-size:16px;
    line-height:29px;
    text-align:center;
    color:#fff;
    border-radius:50%;
    background:#eee;
    opacity:0;
    -webkit-transform:translateY(50px);
    transform:translateY(50px);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.navbar-brand:hover .logo-small{
    opacity:0;
    -webkit-transform:translateY(-50px);
    transform:translateY(-50px);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.navbar-brand:hover .to-top{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
}

.navbar-form .input-group .form-control {
    width: 100%;
}

.navbar-form .input-group .input-group-btn {
    width: 1%;
}

.search .input-group {
    width: 500px;
}

.coupon-code {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #e7f28c;
}

.nav>li>a>img {
    width: 40px;
    height: 40px;
}

.jumbotron,
#home,
#privacy-policy,
.main-container{
    padding-top: 87px;
}

/*----------------------
-----Header Styles------
------------------------*/

.jumbotron {
    /*background-color:#c5e6eb;*/
    color:#fff;
    padding:0;
    margin-bottom:0;
    /*padding-top:80px;*/
    background: url(../../img/frontend/city-bg.png) left bottom no-repeat,
                url(../../img/frontend/sky-bg.png) left top no-repeat #c5e6eb;
    background-size: 100%, 100%;
    background-origin: content-box;
}

.search-spot {
    padding: 14% 0 0;
}

.search-spot h2 {
    font-size: 42px;
}

.search-spot .input-lg,
.search-spot .btn-lg {
    height: 65px;
    padding: 19px;
}

.search-spot .input-group {
    box-shadow: -2px 2px 5px #888;
}

.parking-car {
    margin-top: -9%;
    text-align: right;
}

.parking-car > img {
    display: inline-block;
}

/*-----------------------
-----How it works Styles-----
-------------------------*/
.how-it-work,
.popular-venues,
.happy-customer{
    margin-top:80px;
    /*margin-bottom:40px;*/
}

.how-it-work .icon {
    position:relative;
    width:150px;
    height:150px;
    margin:0 auto;
    text-align:center;
    background:#5CC9DF;
    line-height:150px;
    font-size:48px;
    color:#fff;
    border-radius:50%;
    box-shadow:0 0 0 0 rgba(0,0,0,0.0);
    margin-bottom:40px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.how-it-work .item:hover .icon {
    font-size:38px;
    box-shadow:0 0 0 10px rgba(0,0,0,0.05);
}

.how-it-work .icon:after {
    display:block;
    content:"";
    position:absolute;
    width:150px;
    height:150px;
    top:0;
    left:0;
    border-radius:50%;
    box-shadow:inset 0 0 0 0 rgba(0,0,0,0.08);
    background:transparent;
    -webkit-transition:box-shadow .3s ease-out;
    transition:box-shadow .3s ease-out;
}

.how-it-work .item:hover .icon:after,
.happy-customer .item:hover .icon:after {
    box-shadow:inset 0 0 0 10px rgba(0,0,0,0.08);
}

.how-it-work h3,
.happy-customer h3 {
    font-size:21px;
    font-weight:400;
    text-transform:uppercase;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

.how-it-work .item:hover h3,
.happy-customer .item:hover h3 {
    color:#5CC9DF;
}

.how-it-work p,
.happy-customer p {
    padding:0 20px;
    font-size:16px;
    line-height:21px;
}


/*---------------------------------
-----Popular venues location-----
-----------------------------------*/
#popular-venues .img-block {
    position: relative;
    margin-bottom: 20px;
}

.box {
    background-color: rgb(0,0,0);
    padding: 3% 5%;
    opacity: .8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: left;
    /*margin-left: 15px;
    margin-right: 15px;*/
}

.box h4 {
    margin-bottom: 5px;
}


/*----------------------
-----Happy Customer-----
------------------------*/
.happy-customer .icon {
    position:relative;
    width:150px;
    height:150px;
    margin:0 auto;
    text-align:center;
    border: 4px solid #5CC9DF;
    line-height:137px;
    border-radius:50%;
    box-shadow:0 0 0 0 rgba(0,0,0,0.0);
    margin-bottom:40px;
}

/*----------------------
-----our-partners-----
------------------------*/
.our-partner .img-responsive {
    max-height: 180px;
}

.our-partner .list-inline > li {
    vertical-align: middle;
}

/*----------------------
-----parking-place-----
------------------------*/
.parking {
    background-image: url("../../img/frontend/parking-place-bg.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    /*background-size: contain;*/
    background-position: bottom center;
    background-size: 100%;
    min-height: 690px;
    background-color: #f7f7f7;
}

/*----------------------
-----contact Styles-----
------------------------*/
.contact-item h2{
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}

.contact-item .icon{
    display:block;
    font-size:48px;
    color:#5cc9df;
    text-shadow:-2px 2px 0 rgba(0,0,0,0.1);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.contact-item .icon:hover{
    color:#5cc9df;
    -webkit-transform:scale(1.3) translateY(-10px);
    transform:scale(1.3) translateY(-10px);
}

/*----------------------
-----Footer Styles------
------------------------*/    

#main-footer {
    padding:40px 0 63px;
    box-shadow:0 -4px 0 rgba(0,0,0,0.1);
    border-top: 8px solid #000;
}

#main-footer p {
    color: #949494;
}

.footer-nav li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-nav a {
    text-decoration: none;
}

.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}

.social-links li{
    display:inline-block;
    margin:0 10px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:#fff;
    font-size:30px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li:hover{
    background:#fff;
    box-shadow:0 4px 0 rgba(0,0,0,0.05);
}

.social-links li:hover a{
    color:#5CC9DF;
}


/*----------------------
-----Loader Style-------
------------------------*/
.loader {
    position: absolute;
    left: 46%;
    top: 70px;
}
#busy-indicator {
    display: none;
}

#mapView{
   padding: 0px !important;

}

/*----------------------
-----Event Parking------
------------------------*/
.main-container .event-banner {
    background: url("../../img/frontend/sky-bg.png") no-repeat center center;
    background-size: 100%;
}

.main-container .event-banner h2,
.main-container .event-banner p {
    font-weight: 700;
    color: #454545;
}

.main-container .event-banner h2 > small {
    font-size: 45%;
    color: #545454;
}

.main-container section {
    padding: 3% 0;
    border-bottom: 1px solid #000;
}

.main-container section:last-child {
    border: none;
}

.main-container .heading h3 {
    margin-bottom: 0;
    /*margin-top: 20px;*/
}

.main-container .body .place-name {
    margin-bottom: 5px;
}

.main-container .place-name > small {
    display: block;
}

.main-container .body .place-address {
    font-size: 25px;
    color: #5CC9DF;
}


/*----------------------
-----login style------
------------------------*/ 
.custom-modal .modal-dialog {
    width: 500px;
}

.custom-modal h3 {
    color: #000;
    margin-bottom: 30px;
    font-size: 23px;
}

.custom-modal .btn,
.custom-modal input {
    border-radius: 0;
    vertical-align: text-bottom;
}

.custom-modal .create-acc,
.custom-modal .forgot-pass {
    font-weight: 700;
    font-size: 15px;
}

/* override bootstrap 3 class to remove scrollbar from modal backdrop
   when not necessary */
.modal {
  overflow-y: auto;
}



/*----------------------
-----Parking space------
------------------------*/
/*ADI */
#helpId  a,
#helpId  a:active,
#helpId  a:hover {
    font-size: 15px !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    text-transform: capitalize !important; 
/*    -webkit-transition: none; 
    transition: none; */
}
/*ADI */
#main-nav .nav > li.dropdown a,
#main-nav .nav > li.dropdown a:active,
#main-nav .nav > li.dropdown a:hover {
    padding: 6px 20px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: capitalize; 
/*    -webkit-transition: none; 
    transition: none; */
}



/*ADI*/
#main-nav .nav > li:last-child a.dropdown-toggle,
#main-nav .nav > li:last-child a.dropdown-toggle:hover {
    padding: 6px 20px; 
    /*z-index: auto;
    position: static; */
} 

.main-content {
    background-color: #F3F8F8;
    margin: 4% auto;
}

.main-content,
.main-content > .row,
.main-content aside {
    /*min-height: 692px;*/
    min-height: 751px;
}

.main-content > .row {
    position: relative;
}

.main-content aside {
    position: absolute;
    height: 100%;
}

.main-content .right-panel {
    margin-left: 292.5px;
}

aside {
    background-color: #DDEBEB;
}

aside .user-image {
    padding: 50px 0 30px;
    position: relative;
}

.edit {
    /*padding-top: 7px;   
    padding-right: 7px;*/
    position: absolute;
    right: 43%;
    top: 37%;
    display: none;
    z-index: 1;
}

aside .user-image > img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

.edit:hover,
aside .user-image > img:hover + .edit {
    display: block;
}

aside .user-image > h3 {
    margin-bottom: 0px;
}


.edit a {
    color: #5CC9DF;
}

.hide-shadow {
    box-shadow: none !important;
}

aside .list-group,
.right-panel .well p  {
    margin-bottom: 0;
}

aside .list-group-item:first-child,
aside .list-group-item:last-child {
    border-radius: 0;
}

aside .list-group-item {
    background-color: #D7EEEE;
    border-color: #fff;
    font-weight: 700;
    color: #5CC9DF;
    padding: 15px;
    font-size: 19px;
}

aside .list-group-item > .fa-fw {
    width: 50px;
}

aside .list-group-item.active, 
aside .list-group-item.active:focus,
aside .list-group-item.active:hover {
    background-color: #5CC9DF;
    border-color: #5CC9DF;
    color: #fff;
}

.right-panel .heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-panel .heading > .title {
    font-size: 25px;
    font-weight: 700;
    color: #5CC9DF;
}

.right-panel .heading > .title-sm {
    font-size: 20px;
    font-weight: 700;
    color: #5CC9DF;
}

.right-panel .action {
    font-size: 16px;
    font-weight: 700;
}

.right-panel .well h4 {
    margin-bottom: 5px;
}

.right-panel .well .fa-fw {
    vertical-align: middle;
}

.right-panel .activate-parking {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.right-panel .border-bottom {
    border-bottom: 1px solid #5CC9DF;
    margin-bottom: 20px;
}

.right-panel .border-top {
    border-top: 1px solid #5CC9DF;
    padding-top: 10px;
}

.right-panel .col-sm-8.form-inline > img {
    display: block;
    max-height: 200px;
}

.input.radio {
    margin-left: 18px;
}

.input.radio label {
    padding-left: 0;
    margin-bottom: 5px;
}

.right-panel .check-box-inline .checkbox {
    display: inline-block;
    width: 176px;
    font-size: 14px;
}

.right-panel .week-box-inline .checkbox {
    display: inline-block;
    width: 126px;
    font-size: 14px;
}

.right-panel .adjust-checkbox .checkbox {
    padding-top: 0;
}

.right-panel .adjust-checkbox input[type="checkbox"] {
    vertical-align: top;
}

.right-panel .input-margin > input {
    margin-right: 10px;
}

.right-panel .body .help-block {
    display: inline-block;
}

.right-panel .map {
    margin-bottom: 20px;
}

.right-panel .progress {
    margin-bottom: 0;
    height: 2px;
}

.right-panel .price .col-sm-2 {
    width: 109px;
}

.right-panel .parking-space .fa {
    margin-left: 7px;
    vertical-align: middle;
}

.right-panel .alert-sm {
      padding: 3px 5px;
      margin-bottom: 5px;
}
.price-text {
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
}


/*---------------------- 
---------Profile--------
------------------------*/
.right-panel .change-pass {
    line-height: 36px;
}

.right-panel .body a {
    color: #1185e7;
}

.right-panel .body a.minus-btn {
    color: #d9534f;
}

.right-panel .body a:hover {
    color: #009cff;
}

.right-panel .body a.minus-btn:hover {
    color: #c9302c;
}

.right-panel .fa:before {
    vertical-align: middle;
}


/*---------------------- 
-----Event location------ 
------------------------*/
.parking-details h3 { 
   margin-top: 35px;
   margin-bottom: 0;
}

.park-map-marker:before{ 
   background: rgba(0, 0, 0, 0) url("../../img/frontend/map-marker-icon.png") no-repeat scroll 2px 0px; 
   content: ""; 
   display: inline-block; 
   height: 32px; 
   margin-right: 6px; 
   vertical-align: middle; 
   width: 31px; 
}

.map-marker-icon { 
    background: rgba(0, 0, 0, 0) url("../../img/frontend/map-marker-icon.png") no-repeat scroll -39px 0px; 
    content: ""; 
    display: inline-block; 
    height: 32px; 
    margin-right: 6px; 
    vertical-align: middle; 
    width: 31px; 
}

.map-marker-icon-mod { 
    background: rgba(0, 0, 0, 0) url("../../img/frontend/map-marker-icon.png") no-repeat scroll -39px 0px; 
    content: ""; 
    display: inline-block; 
    height: 32px; 
    margin-right: 0px; 
    vertical-align: middle; 
    width: 32px; 
}

.park-map-marker+span { 
   color:#f15a40; 
}

.location-name h4 { 
   color:#407EF1; 
   font-weight: bold; 
   margin-bottom: 2px; 
}

.location-name.active { 
   background-color: #F6F6F6; 
    
}

.location-name .dl-horizontal dt { 
   text-align: left; 
   width: 100px; 
}

.location-name  .dl-horizontal dd { 
   margin-left: 119px; 
}

.location-name dl { 
   margin-bottom: 5px; 
}

.location-name { 
   border-bottom: 1px solid #cccccc; 
   padding-bottom: 25px; 
   padding-bottom: 2px; 
   padding-top: 25px; 
   padding-top: 2px; 
   /*background:#f5f5f5;*/
}

.view-details { 
   color: #407ef1; 
   float: left; 
   padding-top: 8px; 
   text-decoration: underline; 
}

.parking-name { 
   display: inline-block; 
   overflow: hidden; 
   text-overflow: ellipsis; 
   white-space: nowrap; 
   width: 77%; 
}

.parking-name-mod { 
   display: inline-block; 
   overflow: hidden; 
   text-overflow: ellipsis; 
   white-space: nowrap; 
   width: 88%; 
   width: 100%; 
   font-size:15px;
}

.price-text-size {
    font-size: 86%;
}

.parkingspace-left-section { 
   height: 630px;
   overflow: auto;
}

.parkingspace-details{
   background:white;
   padding:0px 0px 0px 0px;
}

.timeframe h4 {
    margin-bottom: 10px;
}

.timeframe .custom-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.timeframe .custom-padding .text-primary {
    color: #31b0d5;
    font-weight: 700;
}

#map_wrapper {
    /*height: 733px;*/
}

#map_wrapper.map-height {
    height: 947px;
}

#space-on-map {
    /*width: 500px;*/
    height: 805px;
}

.infowindowh3 {
    margin-top: 0px !important;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.parking-details .operating-hours {
    font-size: 16px;
    font-weight: bold;
}

/*---------------------- 
-----Contact us--------- 
------------------------*/
.contact-bg {
    background: url("../../img/frontend/simplypark_contact_background.jpg") no-repeat scroll center top;
}

.contact-btn-send {
   margin-top: 20px;
}

.contact-main {
   margin-top: 7%;
   color: #464646;
}

.contact-main h1 {
    font-size: 50px;
    font-weight: 200;
}

.contact-main p {
    font-weight: 400;
}

.contact-main form {
    margin-top: 50px;
}

.contact-right .col-center {
   margin-top: 42%;
}

.col-center p strong {
   color: #5bc0de ;
   font-size: 18px;
}

.col-center p span,
.contact-main p {
   font-size: 17px;
}

.contact-main .form-group .form-control {
   border-radius: 0;
   background-color:#f0f0f0 ;
   border: none;
   box-shadow: none;
}

.contact-main .form-group input {
   height: 40px;
}

.contact-main textarea {
   resize:none;
}

.contact-address {
   margin-bottom: 0;
}

.contact-right {
   border-left: 1px solid #cccccc ;
}

.contact-right  {
   height: 702px;
}


/*----------------------
-----acount-info------
------------------------*/
.parking-place {
   font-weight:700;
   font-size:18px;
   color:#333333;
}

.parking-dates {
    font-weight:400;
    font-size:16px;
    color:#333333;
    line-height: 2;
}

.parking-price {
    font-weight:700;
    font-size:20px;
    color:#21A8DB;
}

.parking-address p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #333333;
    margin-bottom: 4px;
}

.account-info-section .panel-title {
    color: #009dd9;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
}

.panel-title a:hover, 
.panel-title a:focus {
    color: #009dd9;
    text-decoration: none;
}

.account-info-section {
    margin-top: 20px;
}

.account-info {
    margin-top: 10px;
}

.account-info-section label {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #333333;
}

.account-info-section .form-horizontal {
    margin-top: 10px;
}

.panel-body.ac-info {
    padding-bottom: 34px;
    padding-top: 34px;
}
.float-group {
    margin-right: -15px;
    margin-left: -15px;
}
.float-group .form-group {
    margin-left: 0;
    margin-right: 0;
}


/*----------------------
---------Review---------
------------------------*/
.review-section .dl-horizontal dt {
    text-align: left;
    line-height: 2;
}

.review-section dt {
    font-size: 16px;
    font-weight: 700;
    color: #999999;
    /*width: 270px;*/

}

.review-section dd {
    font-size: 16px;
    /*color: #999999;*/
    color: #333;
    font-weight: 700;
    /*margin-left: 270px;*/
}

.review-text,
.igree-text {
    margin-bottom: 20px;
}

.text-primary {
    color: #0066ff;
    font-size: 16px;
    font-weight: 400;
}

.text-muted {
     color: #828282;
     font-size: 16px;
     font-weight: 400;
}

.review-section .account-info-btn {
    margin-left: 0;
}

.panel-body.review-section {
    padding-bottom: 34px;
    padding-top: 34px;
}


/*----------------------
-----Payment info------
------------------------*/
.col-center .account-info-btn {
    margin-left: 0;
}

.panel {
    border:none;
}

.panel-default {
    border-color: #fff;
}

.panel-body.payment-info {
    padding-bottom: 24px;
    padding-top: 24px;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.panel-body {
    border: 1px solid #f2f2f2;
}

.panel-default > .panel-heading {
    padding: 14px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.credit-card-icon {
    width: 220px;
}


/*----------------------
-----congratulation------
------------------------*/
.congratulation-address {
    background: #e3fefe none repeat scroll 0 0;
    padding: 17px;
    margin-top: 4%;
}

.congratulation-section {
    margin-top: 3%;
}

.congratulation-section h2 {
    color: #000000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.congratulation-section p {
    color: #333333;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    font-weight:400;
    line-height: 1.4;
}

.address-congo {
    color: #333333 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.congratulation-section .account-info-btn {
    margin-top: 12%;

}

/*----------------------
-----view details popup------
------------------------*/
article th {
    color:#5bc0de;
}

article p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}

article td {
    font-size: 17px;
    font-weight: 600;
}

article span {
    color:#5bc0de;
    font-weight: 600;
}

.location-details-popup .table > thead > tr > th,
.location-details-popup .table > tbody > tr > td  {
    border-bottom: none;
    border-top: none;
    text-align: center;
}

.view-details-title {
    color: #000000;
    font-size: 23px;
    font-weight: bold;
    margin-top: 12px;
}

.location-details-popup article {
    border-bottom: 1px solid #ccc ;
   margin-bottom: 15px;
   padding-bottom: 15px;
}


.location-details-popup .modal-header .close {
    margin-top: 15px;
}


/*----------------------
-----WithdrawalSources--
------------------------*/
.account-detail {
    padding-top: 5px;
    padding-bottom: 5px;
}

.well .list-inline {
    margin-bottom: 0;
}

.account-detail > li,
.account-detail > li + li {
    padding-right: 15px;
    color: #000; 
}

/*---------------------------
----- Parking Details page --
-----------------------------*/
.parking-details .table > thead > tr > th {
   border:none;
}

.parking-details .table > tbody > tr > td,
.parking-details .table > tbody > tr > th,
.parking-details .table > tfoot > tr > td, 
.parking-details .table > tfoot > tr > th, 
.parking-details .table > thead > tr > td, 
.parking-details .table > thead > tr > th {
    border:none;
 }

.parking-details article {
   border-bottom: 1px solid #cccccc ;
   margin-bottom: 15px;
   padding-bottom: 15px;
}

.parking-details table,
.parking-details address{
   margin-bottom: 0;
}

.parking-details {
   margin-top: 35px;
   font-size: 17px;
}

.parking-details .help-block {
    font-size: 14px;
}

.parking-details .dl-horizontal dt {
   width: auto;
   color: #7a7c7f ;
   line-height: 28px;
   font-weight: 400;
}

.parking-details dl {
   margin-bottom: 0;
}

.parking-details dd {
   color: #7a7c7f ;
   line-height: 28px;
}

.parking-details li {
   display: inline-block;
   line-height: 2.7;
   width: 119px;
   color: #7a7c7f;
}

.parking-details ul {
   padding: 0;
}

.parking-details .right-check {
   color:#00A651 ;
}

.parking-details .cross-icon {
   color: #DC481A ;
}


.clearfix.cancel-policy {
   border-bottom: medium none;
}
.space-price {
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}
.space-price:after{
    content:"*";
    color:gray;
}

/*---------------------------
---------- Booking ----------
-----------------------------*/
.booking-receive .nav-tabs > li.active > a, 
.booking-receive .nav-tabs > li.active > a:focus, 
.booking-receive .nav-tabs > li.active > a:hover {
   border: 1px solid #48BFD7;
   background-color: #5cc9df;
   border-radius: 0;
   color: #fff;
}

.nav-tabs > li.active :before {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   border-color: #5CC9DF;
   border-image: none;
   border-style: solid;
   border-width: 7px;
   content: "";
   left: 48%;
   position: absolute;
   top: 34px;
   transform: rotate(225deg);
}

.form-horizontal {
   margin-top: 2%;
}

.booking-receive .nav-tabs > li > a {
   border: 1px solid;
   border-radius: 0;
   margin-right: 0;
   background-color: #fff;

}

.booking-receive .nav-tabs {
   border-bottom: none;
}

.booking-receive {
  /* float: left;
*/    padding-left: 2%;
}

.booking-receive .table > thead > tr > th {
    border-bottom: 1px solid #5cc9df ;
    color: #28ADCA ;
    padding-bottom: 20px;
}

.booking-receive .table{
   color:#333;
}

.booking-receive .table > tbody > tr > td,
.booking-receive .table > tbody > tr > th, 
.booking-receive .table > tfoot > tr > td,
.booking-receive .table > tfoot > tr > th,
.booking-receive .table > thead > tr > td
{
   border-bottom: 1px solid #C5DEDE ;
   font-weight: normal;
   padding: 20px 10px;
   
}

.booking-made > tbody > tr > td:nth-child(2) {
    width: 300px;
}

.booking-made > tbody > tr > td:nth-child(3) {
    width: 160px;
}

.waiting {
   background: #e8dc00  none repeat scroll 0 0;
   border-radius: 13px;
   display: inline-block;
   height: 13px;
   vertical-align: middle;
   width: 13px;
}

.approved {
   background: #339900  none repeat scroll 0 0;
   border-radius: 13px;
   display: inline-block;
   height: 13px;
   vertical-align: middle;
   width: 13px;
}

.cancel-request {
   color: #ff3300 ;
   text-decoration: underline;
}

.booking-print {
   color: #0000ff ;
   text-decoration: underline;
}

.booking-tip {
   color:#333; padding:10px;
}

.booking-tip-titleIcon{
    margin-right:2%;
    display:inline;
}
  

.rejected {
   background: #FF3300  none repeat scroll 0 0;
   border-radius: 13px;
   display: inline-block;
   height: 13px;
   vertical-align: middle;
   width: 13px;
}

.expired-booking {
   background: #ff3300  none repeat scroll 0 0;
   border-radius: 20px;
   color: #ffffff ;
   display: inline-block;
   padding: 1px 3px;
   vertical-align: middle;
}

.notice-period-ongoing{
   background: #ff7676  none repeat scroll 0 0;
   border-radius: 13px;
   display: inline-block;
   height: 13px;
   vertical-align: middle;
   width: 13px;
}

.expired-text {
   color: #B0B0B0 ;
}

.aprove-text {
   color: #0000ff ;
   text-decoration: underline;
}

.disapprove-text,
.cancel-booking {
   color: #ff3300 ;
   text-decoration: underline;
}

.modal-body.clearfix > span {
   font-size: 16px;
}


/*---------------------------
------- Dashboard page ------
-----------------------------*/
.summary-box div[class$="-bg"] {
    height: 150px;
    border: 1px solid #ddd;
    border-left: none;
    color: #fff;
    padding-top: 34px;
    position: relative;
}

.summary-box div[class$="-bg"]:first-child {
    border-left: 1px solid #ddd;
}

.summary-box div[class$="-bg"] > span {
    font-size: 40px;
    font-weight: 900;
}

.summary-box div[class$="-bg"] > span + div{
    font-size: 15px;
}

.summary-box .percentage {
    font-size: 24px;
}

.summary-tb > tbody > tr > td:nth-child(2) > span {
    color: #000;
}

.summary-box div[class$="-bg"] > .fa {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 25px;
}

.red-bg {
    background-color: #18B7A0;
}

.green-bg {
    background-color: #27C4D2;
}

.purple-bg {
    background-color: #9A59E1;
}

.yellow-bg {
    background-color: #E3AB57;
}

.pink-bg {
   background-color: #d227bc;
}
.blue-bg {
   background-color: #e1f0f0;
} 

.custom-msg {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding: 30px 0;
    margin-bottom: 15px;
}

.satisfaction-box {
    margin-bottom: 15px;
}

.satisfaction-box img[class="img-responsive"] {
    margin-top: 18px;
    float: right;
}

.satisfaction-icon > h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}



/*---------------------------
------- 404 error page ------
-----------------------------*/
#background {
    height: 100%;
    width: 100%; 
    position: fixed; 
    left: 0px; 
    bottom: 0px; 
    z-index: -1;
    background: url(../../img/404_page_bg.png) center bottom no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background h1,
#background p {
    color: #000;
    text-align: center;
    font-size: 2em;
}

#background h1 {
    font-size: 5.4em;
    font-weight: 700;
    margin-top: 4%;
}

#background p {
    line-height: 60px;
    font-weight: 400;
}

#background p > a {
    color: #0000FF;
    text-decoration: underline;
}


/*----------------------
-----Media Queries------
------------------------*/
@media only screen and (max-height: 800px) {
  .search-spot {
       padding-top: 4%;
   }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main-content .right-panel {
        margin-left: 242.5px;
    }

    .navbar-left {
        width: 88%;
        padding-right: 0;
    }

    .navbar-left .input-group {
        width: 100%;
    }

    .right-panel .price .col-sm-2 {
        width: 93px;
    }

    .right-panel .price .col-sm-2 > input {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .jumbotron {
        background: url(../../img/frontend/city-bg.png) right bottom no-repeat,
                    url(../../img/frontend/sky-bg.png) left top no-repeat #c5e6eb;
        background-size: auto, 100%;
    }

    .search-spot {
        width: 100%;
    }

    .parking-car {
        margin-top: 15%;
    }

    .parking-car > .img-responsive {
        display: inline-block;
        max-width: 85%;
    }

    .parking {
        background-size: auto;
    }

    .right-panel .white-bg,
    .right-panel .white-bg .text-right {
        text-align: center;
    }
    
    .right-panel .price .col-sm-2 {
        width: 96px;
    }

    .right-panel .price .col-sm-2 > input {
        font-size: 12px;
    }

    .right-panel .price .col-sm-2 {
        width: 96px;
    }

    .right-panel .price .col-sm-2 > input {
        font-size: 12px;
    }

    .navbar-left {
        width: 84%;
    }

    .search .input-group {
        width: 100%;
    }

    .main-content aside {
        position: static;
    }

    .main-content .right-panel {
        margin-left: 0px;
    }
}  

@media (max-width: 767px) {
    
    body, p{
        font-size:16px;
        line-height:21px;
    }
    
    h1,
    .skills h2{
        font-size:24px;
        line-height:28px;
    }
    
    h2 {
        font-size:21px;
        line-height:24px;
    }
    
    .section-title{
        font-size: 28px;
        line-height: 36px;
    }
    
    .section-description{
        font-size: 18px;
    }
    
    .cta .cta-message p,
    .cta .cta-message strong{
        font-size:18px;
        line-height:24px;
    }
    
    #main-nav .nav a {
        text-align:center;
        border-bottom:1px solid #f5f5f5;
    }
    
    #main-nav .nav a:before {
        display:none;
    }

    .jumbotron {
        background: url(../../img/frontend/city-bg.png) right bottom no-repeat,
                    url(../../img/frontend/sky-bg.png) left top no-repeat #c5e6eb;
        background-size: 113rem, 100%;
    }

    .search-spot h2 {
        font-size: 29px;
    }

    .search-spot .input-lg,
    .search-spot .btn-lg {
        height: 55px;
    }

    .parking-car {
        margin-top: 20%;
    }

    .parking-car > .img-responsive {
        max-width: 80%;
    }
    
    .cta .cta-message {
        text-align:center;
    }
    
    .how-it-work .item {
        margin-bottom: 60px;
    }

    .how-it-work .item:last-child {
        margin-bottom: 0px;
    }

    .our-partner .img-responsive {
        display: inline-block;
        max-width: 60%;
    }

    .footer-nav > li {
        display: block;
        padding: 5px 0;
    }

    .custom-modal .modal-dialog {
        width: auto;
    }

    .navbar-left,
    .search .input-group {
        width: 100%;
    }

    .main-container .event-banner {
        background-size: auto;
    }

    .main-container .event-banner .img-block > img {
        min-width: inherit;
        text-align: center;
        margin: auto;
    }

    .right-panel .price .col-sm-2 {
        width: 100%;
    }

    .right-panel .price .col-sm-2 > input {
        font-size: 14px;
    }

    .contact-main .captcha  .col-sm-6 {
        text-align: center;
    }

    .contact-main form {
        margin-bottom: 50px;
    }

    .contact-main .captcha  .col-sm-6 > img {
        display: inline-block;
    }

    .contact-right {
        border: none;
        height: auto;
    }

    .contact-right .col-center {
        margin-top: 0;
        text-align: center;
    }

    .nav-tabs > li.active :before {
        display: none;
    }
}

@media (max-width: 479px) {
    .search-spot {
        padding: 20% 0 0;
    }

    .search-spot h2 {
        font-size: 22px;
    }

    .search-spot .input-lg,
    .search-spot .btn-lg {
        height: 45px;
    }

    .parking-car {
        margin-top: 55%;
    }

    .jumbotron {
        background: url(../../img/frontend/city-bg.png) right bottom no-repeat,
                    url(../../img/frontend/sky-bg.png) left top no-repeat #c5e6eb;
        background-size: 90rem, 100%;
    }

    .input-group-btn {
        padding-top: 10px;
    }

    .input-group .form-control:first-child,
    .input-group-btn:last-child>.btn,
    .input-group {
        display: block;
        width: 100%;
        float: none;
    }

    .input-group .form-control:first-child,
    .input-group-btn:last-child>.btn {
        border-radius: 6px;
    }
}

/*****
Autocomplete css
******/
ul.search-box {
   background: #ffffff  none repeat scroll 0 0;
   padding: 0 20px;
   width: 550px;
   border: 1px solid #000;
   z-index: 1040;
}
.search-box article {
   border-bottom: 1px solid #e5e5e5 ;
   margin-left: 41px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.see-result {
   color: #5cc9df ;
   display: block;
   font-size: 14px;
   font-weight: 700;
   padding: 10px 0;
   border-bottom: 1px solid #ccc;
}
.search-box h4 {
   margin-bottom: 0;
   color: #5bc0de ;
   padding: 10px 0;
}

/*.venues {
   border-top: 1px solid #cccccc ;
   margin-top: 20px;
   padding-top: 10px;
}*/
.search-name-link {
    color: #5cc9df;
}
.no-search {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.ui-menu-item > article:hover:not(.no-search),
.ui-menu-item > article:focus:not(.no-search) {
    background-color:rgba(171, 195, 197, 0.24);
}

.focus-autocomplete-item {
    background-color:rgba(171, 195, 197, 0.24);
}
.custom-input {
    position: relative;
    z-index: 999;
}

table#longtermbooking {
 text-align:center;
 border: 1px solid black;
 border-spacing: 5px;
 border-collapse: separate;
 width:60%;
}

td#longtermbookingcol1 {
/* border: 1px solid black;*/
 text-align: left;
 width:70%
}

td#longtermbookingcol2 {
/*border: 1px solid black;*/
 text-align: left;
}

table#priceschedule {
   border-collapse: collapse;
}

td#paynow {
   background-color: green;
   color: white;
   padding:5px
}

td#installment {
   padding:5px
}

th#paynow {
   background-color: green;
   color: white;
   text-align: center;
   padding:5px
}

th#installment {
   padding:5px
}

#overlay {
    opacity: 0.3;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: none;
}

.label-as-badge {
    border-radius: 1em;
}

.gated-space h3 
{
    margin-bottom: 0;

}
.gated-space .badge {
    vertical-align: middle;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
    width: 11px;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.validateBookingTable {
   margin: auto;
}

.validateBookingTable td {
   text-align: center;
}

.more-info, .less-info {
    color: #0066ff;
}
.custom-plus {
    margin-left: 57%;
}

.sort {
  padding:2px 12px;
  border-radius: 4px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:25px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative; 
  top:-4px;
  right:-5px;
}


/* List nearby spaces map & space overlays */
.map-space-container{
  padding-top:0px;
  padding-left:0px !important;
  padding-right:0px !important;
}
.mapSpaceView{
  position:relative;
}
.mapView{
 z-index:1;
 position:absolute;
 padding-left:0px;
 padding-right:0px;
 top:0;left:0;
}
.spaceOverMaps{
  z-index:99;
  position:relative;
  padding-top:52px;
  padding-left:1px;
}
/*** Space Over Maps related CSS *****/
#space-over-maps-header {
  background: #425765;
  background: #86d8db;
  margin: 0;
  /*padding: 10px 12px 10px 12px;*/
  padding: 2px 2px 2px 12px;
  position: relative; 
  z-index: 2;
}

.space-over-maps-header-heading{
   color:white;
   color:#425765;
   font-size:20px;
   font-family: Lato,Arial,sans-serif;
}

.align-right-space {
   text-align:right;
}

.navbarmod{
  height:20px !important;

}

.button-early-entry {
    width: 45px;
    height: 45px;
    background-color: #f0ad4e;
    border: solid 0px #000;
    border-radius: 50%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;

}

.distance {

   font-weight:400;
   color: #4d4d4d;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.vcenter {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

.textContainer { 
    height: 15px; 
    line-height: 40px;
}

.textContainer h6 {
    vertical-align: middle;
    display: inline-block;
}

.padding-left { 
    padding-left:6px;
 }

.padding-right-price { 
    padding-right:4px;
 }

 .driving {
    font-size:12px;
 }

 .pricing-display {
    font-size:22px;
 }

 .zIndex{
   position: relative;
   z-index:1000;
 }
