<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
	
	<script src="lib/ngCordova/dist/ng-cordova.js"></script>

<link href="lib/swiper/dist/css/swiper.min.css" rel="stylesheet"/>    
<script src="lib/swiper/dist/js/swiper.js"></script>
<script src="lib/angular-swiper/dist/angular-swiper.js"></script>   
	
    <!-- your app's js -->
	
    <script src="js/app.js"></script>
	<script src="js/factories/GoogleMapFactory.js"></script>
	<script src="js/factories/spaceDetails.js"></script>
	<script src="js/controller/MapCtrl.js"></script>
	<script src="js/controller/SpaceCtrl.js"></script>
	<script src="js/controller/MainCtrl.js"></script>
	<script src="js/controller/EventCtrl.js"></script>
	<script src="js/controller/UserProfileCtrl.js"></script>
	<script src="js/factories/markersFactory.js"></script>
	
	

	<!--angular-local-storage-->
	<script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyB2R--vo4aZq0ngp84rr3c68uyJ9iFpRrs"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&sensor=false"></script>
	<link href="js/ion-place-autocomplete.css" rel="stylesheet">
	<script src="js/ion-place-autocomplete.js"></script>
	-->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2R--vo4aZq0ngp84rr3c68uyJ9iFpRrs&libraries=places"></script>
	
  </head>
  <!-- your app's js -->
  <body ng-app="Simplypark-User" ng-init = "Spacedetails = 'Spacedetails'; noOfSlots = 10;rate = 30; location = {name:'Select your parking....',address:'Parashar',locality:101};rate = {car:50,bike:20};pageList=['Events','Offers','Profile']" ng-controller="MainCtrl">

    <ion-pane>
	
     <ion-header-bar class="bar-dark">
	 			<button menu-toggle = "left" ng-click = "toggleLeftSideMenu()" class = "button button-icon icon ion-navicon"></button>

        <h1 class="title" id="tite">SimplyPark</h1>
      </ion-header-bar>
	  <ion-side-menus enable-menu-with-back-views="false">
	   <ion-side-menu side = "left">
		  <h1></h1><br>
		  <h3 ><a href="#/" ng-click = "toggleLeftSideMenu()" style="text-decoration: none;">Home</a></h3>
		  <h3 ng-repeat="page in pageList"><a href="#/{{page}}" ng-click = "toggleLeftSideMenu()" style="text-decoration: none;">{{page}}</a></h3>
	   </ion-side-menu>

	   <ion-side-menu-content>
			<ion-nav-view></ion-nav-view>
	   </ion-side-menu-content>
	</ion-side-menus>
		  <div  class="bar bar-footer bar-positive">
		  	<a href="#/{{input.SpacedetailsPage}}" ng-click="disabled()" ng-class="{disabled: true}" style="text-decoration: none; color:white;">
		    <div id="footer">
			<!--<test-directive></test-directive>
			<span id="location" ng-bind="input.footerDescription"></span>&nbsp;{{input.isSpaceSelected}}<span ng-show="{{input.isSpaceSelected}}">Available: {{input.availableSlots}}</span>-->
			</div></a><!--<a class="item" href="#" onclick="window.open('https://simplypark.in', '_self', 'location=yes'); return false;">Open a Google+ Client or Browser
            </a>-->
			<div id="footer_BTN">
				<button class="button" id="book_button" ng-show="true" ng-click = "openBrowser()" ng-class="{'button': isActive}" type="book">Book</button>
				<a class="item-icon-right" ><i ng-click="launchNavigator()" class="icon ion-navigate custom-icon"   style="font-size: 25px;"></i></a>
			</div>
			<!--
			<div class = "row">
			   <a href="#/{{input.spaceicon ==''? '':Spacedetails}}" ng-click="disabled()" ng-class="{disabled: true}" style="text-decoration: none;">
			     <div class = "col"><span id="location">{{input.footerDescription}}</span>&nbsp;<span>Available: {{input.availableSlots}}</span></div>
				 </a>
			   <div class = "col col-offset-25"><button class="button" ng-show="input.spaceicon ==''? false:true" ng-class="{'button': isActive}" type="book">Book</button>
			</div>
			   <div class = "col"><a class="item-icon-right" ng-show="input.spaceicon ==''? false:true"><i  class="icon ion-navigate"  ng-click="launchNavigator()" style="font-size: 25px;"></i></a></div>
			</div>
			-->
			
		</div>
    </ion-pane>
  </body>
</html>