body {
     background: url("../../../img/backend/login.png");
}


.login-page {
 
  padding-top: 40px;
    padding-bottom: 40px;
}



.form-signin {
    max-width: 410px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}
.footer{margin-top: 15px;
}
.radio, .checkbox {
    padding-left: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}

.input-space {
    margin-bottom: 10px;
}
.list-inline a {
    color:#fff;
    font-size:13px;
}

.list-inline a:hover {
    color:#ccc;
    text-decoration:none;
}
.btn-lg {
    margin:0px!important;
}
.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;
    border-radius:5px;
      -webkit-border-radius:5px;
    -moz-border-radius: 5px;

}
#login {
    margin-top:30px;
}

#forgot {
    margin-top:50px;
}

#signup {
    margin-top:30px;
}

#logoimg {
  
}
.remember-me{
    padding-left: 21px;
}
#adminlogin{
    display: none;
}
#authMessage{
    color: red;
}