	<p>
		Please carry a printout of the confirmation and upon arrival give the simplypark parking slip to the attendant.
	</p>

	<p>
		Get in touch with us quoting your transaction id at <b>customercare@simplypark.in</b>
	</p>

	
