<ion-view>0
    <ion-content>
		<div class="list">
 <div class="item item-divider">{{title}}</div>
   <div ng-repeat="event in eventList()" class="item">{{event}}</div>
 </div>
        
    </ion-content>
</ion-view>