<ion-view ng-init="IsMapVisible = true">
    <ion-content>
		<div class="list">
			<div class="item item-input-inset" >
				<label class="item-input-wrapper">
					<input ng-model="InputControl.searchAddress"  id="address" size="30"  type="text" placeholder="destination" data-tap-disabled="true" ng-change='change()'  ng-focus="blurMap(false);" ng-blur = "blurMap(true);"/>
				</label>
				<img  src="img/images.png" ng-show = "!InputControl.IsVisible" style="width : 9% ; height : 4%" id="CurSubmit" >
				<i  class="icon ion-navigate" style="font-size: 25px;" id="Submit" ng-show = "InputControl.IsVisible" ng-click="InputControl.IsVisible = false;"></i>
				<!--<span></span><span>{{InputControl.IsVisible}}</span>-->
			</div>
		</div>
        <div id="map" data-tap-disabled="true" ng-show="IsMapVisible" ng-animate="'fade'" ></div>
		
    </ion-content>
</ion-view>