<ion-view>
    <ion-content>
		<div class="list">
		  <div class="item item-icon-left">
      <i class="icon ion-home"></i>
      Offer 1
   </div>

   <div class="item item-icon-right">
      <i class="icon ion-star"></i>
      Offer 2
   </div>

   <div class="item item-icon-left item-icon-right">
      <i class="icon ion-home"></i>
      <i class="icon ion-star"></i>
      Offer 3
   </div>
   
   <div class="item item-icon-left">
      <i class="icon ion-home"></i>
      <span class="text-note">Offer 4</span>
   </div>
		</div>
    </ion-content>
</ion-view>