<ion-view>
    <ion-content>
	<div class="card">
 		    <div class="item item-avatar item-stable">
			   <img src="{{input.spaceicon}}">
			   <h2>{{input.spaceName}}</h2>
		    </div>

			<div class="item item-body item-stable">
			  <img class="full-image" src="{{input.spaceicon}}">
			  {{input.spaceName}}<br>
			</div>
			<div class="item item-stable">	
			<div class = "row">
			   <div class = "col">Available Slots: {{input.availableSlots}}</div>
			   <div class = "col col-offset-20" ng-repeat="charge in input.charges" >Charges: {{charge.monthly}}</div>   
			</div>
		<ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
    <ks-swiper-slide class="swiper-slide" ng-repeat="s in images">
        <img ng-src="{{s.src}}" width="100%">
    </ks-swiper-slide>            
</ks-swiper-container>
			</div>
	
    </ion-content>
</ion-view>