<ion-view>
    <ion-content>
		<div class="card">
   <div class="item item-avatar item-calm">
      <img src="{{input.usericon==''?input.defaultusericon:input.usericon}}">
      <h2>{{input.userName}}</h2>
   </div>

   <div class="item item-body item-calm">
      <img class="full-image" src="{{input.usericon==''?'img/userIcon.png':'input.usericon'}}">
      <br>
	</div>
	<div class="item item-body item-calm">	
		<div class = "row">
		   <div class = "col">{{input.userName}}</div>
		   <div class = "col col-offset-25"></div>   
		</div>
		<div class = "row">
			<div class = "col">{{input.userAddress}}</div>
			
		</div>
	</div>
	
    </ion-content>
</ion-view>